@import "Theme.scss";

.fourOhFour{
	  padding-top: 20px;
	  background: url('../assets/404-background.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  width: 100%;
	  height: 100%;
}

.yellow{
	margin-left: 100px;
}

.oops{
	color: white;
}

.error-actions{
	padding-right: 50px;
}

.oopsybtn{
	margin: 25px;
}

.notFound{
	font-family: $header-font;
	color: white;
}

.ohnopara{
	font-size: 20px;
}

.ohnoparalink:hover{
	text-decoration: none;
	color: $dark-pink;
}

.ohno{
	font-size: 200px;
}