@import "Theme.scss";

.addwrapper{
  height: 100%;
}

.lesson-create-panel{
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3) !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3) !important;
}

.add-lesson-button{
  height: 200px;
  width: 25%;
  background-color: $dark-blue;
  color: $light-blue;
  border: 2px solid $light-blue;
}

.add-lesson-button :hover{
  background-color:$light-blue;
}

.addless-button-container{
  align-content: center;
}

.add-lesson-view{
  text-align: center;
}

.invalid-URL-error{
  margin: 3px;
  padding: 4px;
  color: rgba(180, 50, 50, 0.6);
  border: 1px solid rgba(180, 50, 50, 0.6);
}

.success-message{
  margin: 3px;
  padding: 4px;
  color: rgba(60, 180, 50, 0.6);
  border: 1px solid rgba(60, 180, 50, 0.6);
}
