@import "Theme.scss";

#addvideo-box{
  background-color: black;
  width: 100%;
  height: 480px;
  align-content: center;
  text-align: center;
  vertical-align: center;

}

.addwrapper{
  background-color: black;
  width: 100%;
  height: 480px;
  padding-top: 1px;
}

.add-lesson-info{
  width: 75%;
  height: 100px;
  background: white;
}

.add-lesson-button{
  height: 200px;
  width: 25%;
  background-color: $dark-blue;
  color: $light-blue;
  border: 2px solid $light-blue;
}

.add-lesson-button :hover{
  background-color:$light-blue;
}

.addless-button-container{
  align-content: center;
}

.add-lesson-view{
  text-align: center;
}