.bar {
  fill: $darkest-blue;
}

.selection ul {
  margin: 0;
  padding: 0;
}

.x axis{
	font-size: 50px;
}

.chart{
	margin: 20px;
}

#analytics-view{
  
}

.student{
  font-weight: bold;
}

.studentCollection{
		background-color: $lightest-blue;
    padding: 5px;
    font-size: 14px;
    font-family: $subheader-font;
    color: $darkest-blue;
    border: 2px solid $darkest-blue;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
 }

.selection ul li {
  display: inline;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.analyticsNavEntry{
	font-size: 16px;
	color: $darkest-blue;
	font-family: $subheader-font;
}

.analyticsEntryCollection{
		background-color: $lightest-blue;
	  font-size: 20px;
	  font-family: $subheader-font;
    padding: 5px;
    font-weight: bold;
    width: 100%;   
    scrollbar-base-color:#ffeaff;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar-thumb :horizontal{
  color: $darkest-blue;
}

.analyticsNavEntry:hover{
	color: $dark-pink;
}