.exercise {
  position: absolute;
  background-color: yellow;
  border: 1px solid #ccc;
}
.exercise-enter {
  left: -200px;
  transition: all 0.5s;
}

.exercise-enter-active{
  top: 5px;
}

.exercise-leave {
  top: 5px;
}

.exercise-leave-active {
  left: 200px;
  opacity: 0;
}
