.Categories-Container {
  height: 400px;  
}

.Categories-Thing {
  height: 30px;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  color: black;
  margin: 8px 0px;
}

.Categories-Category {
  min-height: 150px;
  background-color: white;
}