@import "Theme.scss";

.logo {
  font-size: 120px;
  text-align: center;
  padding-top: 100px;
  font-family: $header-font;
} 

.sublogo{
  padding-bottom: 200px;
  text-align: center;
  font-family: $header-font;
}

.learnMore{
  text-align: center;
}

.Site-content{
  text-align: center;
}