@import "Theme.scss";
html,
#root{
  width: 100%;
  height: 100%;
}

body {
  padding-top: 65px; 
}
p{
  margin: 0 !important;
  padding: 0;
}

#video-box{
  background-color: black;
  width: 100%;
  height: 480px;
}

.wrapper{
  background-color: black;
  width: 100%;
  height: 480px;
}

.videocontent{
  width: 854px;
  height: 480px;
}

.comments-view{
  font-size: 12px;
}

#comment-creation-box{
  margin: 0;
}

.comment-creation-form{
  margin: 0 !important;
}

.comment-box{
  list-style-type: none;
  margin: 0 0 16px;
  font-size: 12px;
}

.comment-content{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 5px;
  border: none;
  border-top: 1px solid #eeeeee;
}

.comment-content-main{
  display: inline-block;
}

.comment-video-timestamp{
  color: rgba(20, 20, 20, 0.4);
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  opacity: .75;
  vertical-align: top;
  display: inline;
  vertical-align: top;
}

.comment-author{
  vertical-align: top;
  color: #167ac6;
  font-weight: 500;
  text-decoration: none;
  word-break: break-all;
  cursor: pointer;
  display: inline;
}

.comment-text{
  max-height: 104px;
  overflow: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.glyphicon-star{
  float: left;
  font-size: 16px;
  font-weight: 100;
  opacity: .8;
  color: rgb(240,210,88);
}

.glyphicon-star-empty{
  float: left;
  font-size: 16px;
  font-weight: 100;
  opacity: .8;
  color: rgba(25, 25, 25, 0.4);
}


.comment-toolbar{
  opacity: .50;
}
.comment-like-button,
.comment-reply-button,
.comment-like-icon,
.comment-likes{
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  opacity: .75;
  display: inline;
}

.comment-delete-button{
  color: #555;
  margin-left: 10px !important;
  cursor: pointer;
  font-size: 11px;
  font-weight: 100;
  opacity: .95;
  display: inline;
}
.comment-form-box{
  margin: 0;
}

.comment-form{
  font-size: 12px !important;
  border: none;
  border-top: 1px solid rgba(33,150, 243, 0.2 ) !important;
  box-shadow: none !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 12px !important;
  padding-bottom: 5px !important;
}

#reply-creation-box{
  padding-left: 40px;
  margin-top: 15px;
}


#reply-list{
  margin-top: 15px !important;
}

.reply{
  list-style-type: none;
  margin: 0 0 16px;
  font-size: 12px;
  border-left: 5px solid #eeeeee;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.reply-form-box{
  width: 90%;
  margin-bottom: 38px;
}

.reply-form{
  border-left: 5px solid rgba(33,150, 243, 0.2 ) !important;
  padding: 8px !important;
  padding-left: 16px !important;
  margin-top: 15px;
  box-shadow: none !important;
  font-size: 12px !important; 
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.reply-button{
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: none !important;
  border: 1px solid rgba(33,150, 243, 0.4 ) !important;
}

#reply-submission-box{
  transition: all 500ms ease;
}

.panel{
  box-shadow: none !important;
}
