@import "Theme.scss";

#library-view{
  height: 100%;
}

.lib-lesson-entry{
  height: 100px;
  border: 1px solid $dark-blue;
  background: $lightest-blue;
  color: $darkest-blue;
  text-align: left;
  line-height: 1.5;
  font-style: bold;
  margin-bottom: 10px;
  font-size: 1.5vh;
}

.emptyLibrary{
  color: $darkest-blue;
  margin-top: 15px !important;
}

.lib-lesson-entry:hover{
  background: $light-blue;
}

.titleAnchor{
  color: $darkest-blue;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: $subheader-font;
  padding-bottom: 0%;
  padding-top: 0%;
}

.videoSnippet{
  height:100%;
}

.titleAnchor:hover{
  text-decoration: none;
  color: $dark-pink
}

#ulCollection{
  list-style-type: none;
}

.library-filter{
    float: left;
}

.lib-lesson-info{
  display: inline-block;
  margin-left: 10px;
  font-style: bold;
}

.filterColor{
  color: $lightest-blue;
}

.dummy{
  margin-top: 100%;
}

.lib-less-title{
  font-weight: bold;
  font-size: 22px;
}

.lib-less-author{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
}

.lib-lock{
  font-size: 12px;
  text-decoration: none;
  color: $dark-blue;
}

.lib-lock:hover{
  text-decoration: none;
  color: $dark-pink;
}

#trashcan{
  color: $darkest-blue;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3em;
  cursor: pointer; 
  cursor: hand;
}

#chart{
  color: $darkest-blue;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3em;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

#pulse {
  animation-name: pulse;
}
