@import "Theme.scss";

.lib-lesson-entry{
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 7px solid $dark-purple;
  background: $light-purple;
  color: $dark-purple;
  margin: 7px;
  padding-left: 5px;
}

.lib-lock{
  font-size: 12px;
  padding-left: 20px;
}

.library-filter-header{
  font-size: 16px;
}

.lib-lesson-container{
  background-color: $light-pink;
  border: 7px solid $dark-pink;
}

.lib-filter-header{
  color: $dark-purple
}

.lib-add-lesson{
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 7px dashed;
  background: $light-purple;
  color: $dark-purple;
  margin: 7px;
  padding-left: 5px;
  a{
    font-weight: bold;
    font-size: 150px;
    color: $dark-purple;
    text-align: center;
    line-height: 50%
  }
  a:hover{
    font-size: 200px;
    text-decoration: none;
    color: $dark-pink;
  }
}

.lib-lock{
  a{
  text-decoration: none;
  color: $dark-purple;
  a:hover{
    text-decoration: none;
    color: $dark-pink;
  }
  }
}