@import "Theme.scss";

.lib-lesson-entry{
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 7px solid $dark-purple;
  background: $light-purple;
  color: $dark-purple;
  margin: 7px;
  padding-left: 5px;
}

.lib-lock{
  font-size: 12px;
  padding-left: 20px;
}

.library-filter-header{
  font-size: 16px;
}

.lib-lesson-container{
  background-color: $light-pink;
}