.signup-container {
  padding-top: 25px;
  padding-bottom: 80px;
}

.signup-cancel-btn {
  margin-left: 10px;
}

.error-container{
  padding-top: 60px;
  padding-bottom:120px;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}
