.signup-container {
  padding-top: 25px;
  padding-bottom: 80px;
}

.signup-cancel-btn {
  margin-left: 10px;
}

.error-container{
  padding-top: 60px;
  padding-bottom:120px;
}

.footer-main {
     padding: 1em;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
}