@import url(https://fonts.googleapis.com/css?family=Vidaloka);

@import url(https://fonts.googleapis.com/css?family=Roboto:200,400,700);

$header-font     : Vidaloka, serif;

$subheader-font  : Roboto, sans-serif;

$background-color: #5c94c0;

$dark-purple     : #3a406b;
$light-purple    : #b8b6e4;

$dark-pink       : #c75d8d;
$light-pink      : #eed2df;

$darkest-blue    : #226395;
$dark-blue       : #5c94c0;
$mid-blue        : #9BC1DF;
$light-blue      : #BAD8EF;
$lightest-blue   : #E5F2FC;

$star            : #b09c46;

$dark-teal       : #58BDAF;


html,
#root{
  position: relative;
  width: 100%;
  min-height: 100%;
}

body {
  padding-top: 65px;
  background-color: $background-color;
  padding-bottom: 65px !important;
}

h1{
  font-family: $header-font;
  color: $darkest-blue;
  margin-bottom: 5px;
}

label{
  color: $dark-blue;
}

h2, h3, h4, h5{
  font-family: $subheader-font;
  color: $dark-blue;
}

a{
  text-decoration: none;
  cursor: pointer;
}


p{
  margin: 0 !important;
  padding: 0;
}

hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid $light-blue;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0px;
  height: 100%;
}

.Site-content {
  flex: 1;
}

#main-content{
  height: 100%;
  display: inline;
}

.content{
  width: 100%;
  height: 100%;
}

