<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bower_components/videojs-markers/dist/videojs.markers.min.css">
    <link rel="stylesheet" href="bower_components/videojs/dist/video-js/video-js.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Sample App</title>
  </head>
  <body>
    <div id='root'>{{html|safe}}</div>
    <script src="/public/js/vendor.js"></script>
    <script src="/public/js/vendor.bundle.js"></script>
    <script src="/public/js/bundle.js"></script>
  </body>
</html>
