h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

body {
  padding-top: 65px; }

.logo {
  font-size: 120px;
  text-align: center;
  padding-top: 100px; }

.sublogo {
  padding-bottom: 200px;
  text-align: center; }

h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

.comment-box {
  list-style-type: none;
  margin: 0 0 23px;
  font-size: 16.25px; }

.comment-content {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 2px;
  padding-bottom: 5px;
  border-left: 5px solid #eeeeee; }

.comment-video-timestamp {
  color: #c75d8d;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  opacity: .75;
  vertical-align: top;
  display: inline;
  vertical-align: top; }

.comment-username {
  vertical-align: top;
  color: #167ac6;
  font-weight: 500;
  text-decoration: none;
  word-break: break-all;
  cursor: pointer;
  display: inline; }

.comment-text {
  max-height: 104px;
  overflow: scroll;
  white-space: pre-wrap;
  word-wrap: break-word; }

.comment-reply-button {
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  opacity: .75;
  vertical-align: top; }

#reply-creation-box {
  padding-left: 20px; }

#reply-list {
  margin-top: 15px !important; }

.reply {
  list-style-type: none;
  margin: 0 0 23px;
  font-size: 16.25px;
  border-left: 5px solid #eeeeee;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 2px;
  padding-bottom: 5px; }

.reply-form-box {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 50px; }

.comment-form-box {
  width: 90%;
  margin: 0; }

.reply-form {
  border-left: 5px solid rgba(33, 150, 243, 0.2) !important;
  padding: 10px !important;
  margin-top: 20px;
  box-shadow: none !important; }

.comment-form {
  border-left: 5px solid rgba(33, 150, 243, 0.2) !important;
  padding: 10px !important;
  box-shadow: none !important; }

.reply-button {
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: none !important;
  border: 1px solid rgba(33, 150, 243, 0.4) !important; }

h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

.lib-lesson-entry {
  display: inline-block; }

.lib-lock {
  font-size: 12px;
  padding-left: 20px; }

.library-filter-header {
  font-size: 16px; }

.signup-container {
  padding-top: 25px;
  padding-bottom: 80px; }

.signup-cancel-btn {
  margin-left: 10px; }

h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }
