h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

.signup-container {
  padding-top: 25px;
  padding-bottom: 80px; }

.signup-cancel-btn {
  margin-left: 10px; }

.error-container {
  padding-top: 60px;
  padding-bottom: 120px; }

.footer-main {
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }

h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

body {
  padding-top: 65px; }

.logo {
  font-size: 120px;
  text-align: center;
  padding-top: 100px; }

.sublogo {
  padding-bottom: 200px;
  text-align: center; }

h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

html,
#root {
  width: 100%;
  height: 100%; }

body {
  padding-top: 65px; }

p {
  margin: 0 !important;
  padding: 0; }

#video-box {
  background-color: black;
  width: 100%;
  height: 480px; }

.wrapper {
  background-color: black;
  width: 100%;
  height: 480px; }

.videocontent {
  width: 854px;
  height: 480px; }

.comment-box {
  list-style-type: none;
  margin: 0 0 23px;
  font-size: 16.25px; }

.comment-content {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 12px;
  padding-bottom: 5px;
  border: none;
  border-top: 1px solid #eeeeee; }

.comment-video-timestamp {
  color: rgba(20, 20, 20, 0.4);
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  opacity: .75;
  vertical-align: top;
  display: inline;
  vertical-align: top; }

.comment-author {
  vertical-align: top;
  color: #167ac6;
  font-weight: 500;
  text-decoration: none;
  word-break: break-all;
  cursor: pointer;
  display: inline; }

.comment-text {
  max-height: 104px;
  overflow: scroll;
  white-space: pre-wrap;
  word-wrap: break-word; }

.comment-reply-button {
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  opacity: .75;
  vertical-align: top; }

.comment-form-box {
  width: 90%;
  margin: 0; }

.comment-form {
  border: none;
  border-top: 1px solid rgba(33, 150, 243, 0.2) !important;
  padding: 10px !important;
  box-shadow: none !important; }

#reply-creation-box {
  padding-left: 20px; }

#reply-list {
  margin-top: 15px !important; }

.reply {
  list-style-type: none;
  margin: 0 0 23px;
  font-size: 16.25px;
  border-left: 5px solid #eeeeee;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 2px;
  padding-bottom: 5px; }

.reply-form-box {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 50px; }

.reply-form {
  border-left: 5px solid rgba(33, 150, 243, 0.2) !important;
  padding: 10px !important;
  padding-left: 23px !important;
  margin-top: 20px;
  box-shadow: none !important; }

.reply-button {
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: none !important;
  border: 1px solid rgba(33, 150, 243, 0.4) !important; }

#reply-submission-box {
  transition: all 500ms ease; }

.panel {
  box-shadow: none !important; }

h1 {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

.lib-lesson-entry {
  display: inline-block; }

.lib-lock {
  font-size: 12px;
  padding-left: 20px; }

.library-filter-header {
  font-size: 16px; }
